<!DOCTYPE html>
<html>

<head>
	<meta charset="UFT-8">
	<meta name="viewpoint" content="width=device-width,initial scale=1.0">
	<title>Anime</title>
	<link rel="stylesheet" href="{{url_for('static', filename = 'home1.css')}}">
</head>

<body>
	<div class="header">
		<h1>Artisian</h1>
	</div>
	<div class="subhead">
		<ul>
			<li>Sell Online</li>
			<li>Pricing</li>
			<li>Commission</li>
			<li>Grow Business</li>
			<li>How to use?</li>
			<li>Categories</li>
			<li>Signup</li>
			<li>Login</li>

		</ul>
	</div>
	<div class="imgo">
		<input placeholder="search"></input>
	</div>
	<div class="link">
		<center><a href="{{url_for('login')}}">Enter Homepage</a></center>
	</div>
	<div class="abj">
		<h2>Register As Artisian Supplier</h2><br>
		Whether you're a big business or a small one, now sell
		to millions in your state, without a Regular GSTIN
		<br><br>
		<h2>Contact</h2><br>
		If you have any suggestions or want to connect, feel free to email us.
	</div>
	<div class="end">Artisian supplier support is available to solve all your doubts and issues before and after you
		start your online selling business.
		<br>© All rights reserved.
	</div>
</body>

</html>
