<section>
	<form>
		<fieldset>
			<legend>Product Info</legend>
		</fieldset>
		<label for="image">Upload Image</label>
		<input type="file" name="image" accept="image/*" required>


		<label for="name">Name</label>
		<input type="text" name="price" required>

		<label for="description">Description about the product (min 50 words)</label>
		<textarea rows="5" cols="30"></textarea>

		<label for="quantity">Quantity</label>
		<input type="number" name="quantity" required>

		<label for="price">Price</label>
		<input type="number" name="price" required>

		<label for="text">Enter the dimensions of the product: </label>

		<label for="length">Length</label>
		<input type="number" name="length" required>

		<label for="width">Width</label>
		<input type="number" name="width" required>

		<label for="height">Height</label>
		<input type="number" name="height" required>

		<label for="address">Address</label>
		<textarea rows="5" cols="30" required></textarea>

		<label for="phoneNumber">Phone Number</label>
		<input type="number" name="phoneNumber" required>

		<input type="submit" value="submit">


	</form>
</section>
