<form>
	<label for="auction">Do you want to do an auction for this item</label>
	<label for="yesBid">Yes</label>
	<input type="radio" value="yes">
	<label for="yesBid">No</label>
	<input type="radio" value="no">
</form>

<select>
	<option value="hj" selected></option>
</select>

<input type="radio" name="" value="" che>
<label for="radio">Would you like to sell this product or put it up for auction</label>

<script>
	function toggleFields() {
		const selectedValue = document.querySelector('input[name="radioAuction"]:checked').value;
		const extraFields = document.getElementById("extraFields");


		if (selectedValue === "yes") {
			price.style.display = "block";
		} else {
			price.style.display = "none";
		}
	}
</script>
