{% extends "userBase.html" %}


{% block content %}
<section class="category">
	<div>
		<ol>
			<li><a href="/pottery">Pottery</a><i class='fas fa-angle-down' style="font-size: 10px;"></i>
			</li>
			<li><a href="/weaving">Weaving</a><i class='fas fa-angle-down' style="font-size: 12px;"></i>
			</li>
			<li><a href="/carpentry">Wood carving</a><i class='fas fa-angle-down' style="font-size: 10px;"></i></li>
			<li><a href="/sculptures">Stone Sculptures</a><i class='fas fa-angle-down' style="font-size: 10px;"></i>
			</li>
			<li><a href="/painting">Painting</a><i class='fas fa-angle-down' style="font-size: 10px;"></i>
			</li>
			<li><a href="/blacksmith">Metal-Works</a><i class='fas fa-angle-down' style="font-size: 10px;"></i>
			</li>

		</ol>
	</div>
</section>



<!--product setion-->

<h1>Best of Weaving</h1>
<section>
	<div class="product-container">
		{% for products in weavingProducts[:6] %}

		<div class="product">
			<img src="{{products.Image}}" alt="Wireless Earbuds">
			<h3>{{products.Name}}</h3>
			<p class="price">From ₹{{products.Price}}</p>
			<!--<p class="rating">⭐ 4.5/5</p>-->
			<p class="dimension">Dimensions: {{products.Length}}x{{products.Width}}x{{products.Height}} cm</p>
			<a href = "/weaving"><button class="buyButton" type="submit" >Buy Now</button> </a>
		</div>

		{% endfor %}
	</div>
	< </section>


<h1>Best of Pottery</h1>
<section>
	<div class="product-container">
		{% for products in potteryProducts[:6] %}

		<div class="product">
			<img src="{{products.Image}}" alt="Wireless Earbuds">
			<h3>{{products.Name}}</h3>
			<p class="price">From ₹{{products.Price}}</p>
			<!--<p class="rating">⭐ 4.5/5</p>-->
			<p class="dimension">Dimensions: {{products.Length}}x{{products.Width}}x{{products.Height}} cm</p>
			<a href = "/pottery"><button class="buyButton" type="submit" >Buy Now</button> </a>
		</div>

		{% endfor %}
	</div>
	< </section>



<h1>Best of Carpentry</h1>
<section>
	<div class="product-container">
		{% for products in carpentryProducts[:6] %}

		<div class="product">
			<img src="{{products.Image}}" alt="Wireless Earbuds">
			<h3>{{products.Name}}</h3>
			<p class="price">From ₹{{products.Price}}</p>
			<!--<p class="rating">⭐ 4.5/5</p>-->
			<p class="dimension">Dimensions: {{products.Length}}x{{products.Width}}x{{products.Height}} cm</p>
			<a href = "/carpentry"><button class="buyButton" type="submit" >Buy Now</button> </a>
		</div>

		{% endfor %}
	</div>
	< </section>




<h1>Best of Metal-Works</h1>
<section>
	<div class="product-container">
		{% for products in blacksmithProducts[:6] %}

		<div class="product">
			<img src="{{products.Image}}" alt="Wireless Earbuds">
			<h3>{{products.Name}}</h3>
			<p class="price">From ₹{{products.Price}}</p>
			<!--<p class="rating">⭐ 4.5/5</p>-->
			<p class="dimension">Dimensions: {{products.Length}}x{{products.Width}}x{{products.Height}} cm</p>
			<a href = "/blacksmith"><button class="buyButton" type="submit" >Buy Now</button> </a>
		</div>

		{% endfor %}
	</div>
	< </section>



<h1>Best of Sculpture</h1>
<section>
	<div class="product-container">
		{% for products in sculptureProducts[:6] %}

		<div class="product">
			<img src="{{products.Image}}" alt="Wireless Earbuds">
			<h3>{{products.Name}}</h3>
			<p class="price">From ₹{{products.Price}}</p>
			<!--<p class="rating">⭐ 4.5/5</p>-->
			<p class="dimension">Dimensions: {{products.Length}}x{{products.Width}}x{{products.Height}} cm</p>
			<a href = "/sculpture"><button class="buyButton" type="submit" >Buy Now</button> </a>
		</div>

		{% endfor %}
	</div>
	< </section>




<h1>Best of Painting</h1>
<section>
	<div class="product-container">
		{% for products in paintingProducts[:6] %}

		<div class="product">
			<img src="{{products.Image}}" alt="Wireless Earbuds">
			<h3>{{products.Name}}</h3>
			<p class="price">From ₹{{products.Price}}</p>
			<!--<p class="rating">⭐ 4.5/5</p>-->
			<p class="dimension">Dimensions: {{products.Length}}x{{products.Width}}x{{products.Height}} cm</p>
			<a href = "/painting"><button class="buyButton" type="submit" >Buy Now</button> </a>
		</div>

		{% endfor %}
	</div>
	< </section>
	{% endblock content %}
