{% extends "userBase.html" %}



{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename = 'user.css')}}">

{% endblock %}

{% block content %}
<section class="category">
	<div>
		<ol>
			<li><a href="/pottery">Pottery</a><i class='fas fa-angle-down' style="font-size: 10px;"></i>
			</li>
			<li><a href="/weaving">Weaving</a><i class='fas fa-angle-down' style="font-size: 12px;"></i>
			</li>
			<li><a href="/carpentry">Wood carving</a><i class='fas fa-angle-down' style="font-size: 10px;"></i></li>
			<li><a href="/sculpture">Stone Sculptures</a><i class='fas fa-angle-down' style="font-size: 10px;"></i>
			</li>
			<li><a href="/painting">Painting</a><i class='fas fa-angle-down' style="font-size: 10px;"></i>
			</li>
			<li><a href="/blacksmith">Metal-Works</a><i class='fas fa-angle-down' style="font-size: 10px;"></i>
			</li>

		</ol>
	</div>
</section>



<!--product setion-->



<h1>Limited Offers</h1>
<section>
	<div class="product-container">
		<div class="product">
<img src="{{url_for('static', filename = '/uploads/Ceramic_White_Gloss_Pot_pic1__71033.1642686272.webp')}}" alt="Wireless Earbuds">
			<h3>Linen Stacked</h3>
			<p class="price">From ₹1000</p>
			<!--<p class="rating">⭐ 4.5/5</p>-->
			<p class="dimension">Dimensions: 20x30x20 cm</p>
<p><span><i class="fa fa-clock" aria-hidden="true"></i></span><span style = "color: blue;"> Ends in 1d 13h 51m</soan></p>
			<button class="buyButton" type="submit" >Buy Now</button>
		</div>

		<div class="product">
<img src="{{url_for('static', filename = '/uploads/Ceramic_White_Gloss_Pot_pic1__71033.1642686272.webp')}}" alt="Wireless Earbuds">
			<h3>Linen Stacked</h3>
			<p class="price">From ₹1000</p>
			<!--<p class="rating">⭐ 4.5/5</p>-->
			<p class="dimension">Dimensions: 20x30x20 cm</p>
<p><span><i class="fa fa-clock" aria-hidden="true"></i></span><span style = "color: blue;"> Ends in 1d 13h 51m</soan></p>
			<button class="buyButton" type="submit" >Buy Now</button>
		</div>


		<div class="product">
<img src="{{url_for('static', filename = '/uploads/Ceramic_White_Gloss_Pot_pic1__71033.1642686272.webp')}}" alt="Wireless Earbuds">
			<h3>Linen Stacked</h3>
			<p class="price">From ₹1000</p>
			<!--<p class="rating">⭐ 4.5/5</p>-->
			<p class="dimension">Dimensions: 20x30x20 cm</p>
<p><span><i class="fa fa-clock" aria-hidden="true"></i></span><span style = "color: blue;"> Ends in 1d 13h 51m</soan></p>
			<button class="buyButton" type="submit" >Buy Now</button>
		</div>


		<div class="product">
<img src="{{url_for('static', filename = '/uploads/Ceramic_White_Gloss_Pot_pic1__71033.1642686272.webp')}}" alt="Wireless Earbuds">
			<h3>Linen Stacked</h3>
			<p class="price">From ₹1000</p>
			<!--<p class="rating">⭐ 4.5/5</p>-->
			<p class="dimension">Dimensions: 20x30x20 cm</p>
<p><span><i class="fa fa-clock" aria-hidden="true"></i></span><span style = "color: blue;"> Ends in 1d 13h 51m</soan></p>
			<button class="buyButton" type="submit" >Buy Now</button>
		</div>

		<div class="product">
<img src="{{url_for('static', filename = '/uploads/Ceramic_White_Gloss_Pot_pic1__71033.1642686272.webp')}}" alt="Wireless Earbuds">
			<h3>Linen Stacked</h3>
			<p class="price">From ₹1000</p>
			<!--<p class="rating">⭐ 4.5/5</p>-->
			<p class="dimension">Dimensions: 20x30x20 cm</p>
<p><span><i class="fa fa-clock" aria-hidden="true"></i></span><span style = "color: blue;"> Ends in 1d 13h 51m</soan></p>
			<button class="buyButton" type="submit" >Buy Now</button>
		</div>


		<div class="product">
<img src="{{url_for('static', filename = '/uploads/Ceramic_White_Gloss_Pot_pic1__71033.1642686272.webp')}}" alt="Wireless Earbuds">
			<h3>Linen Stacked</h3>
			<p class="price">From ₹1000</p>
			<!--<p class="rating">⭐ 4.5/5</p>-->
			<p class="dimension">Dimensions: 20x30x20 cm</p>
<p><span><i class="fa fa-clock" aria-hidden="true"></i></span><span style = "color: blue;"> Ends in 1d 13h 51m</soan></p>
			<button class="buyButton" type="submit" >Buy Now</button>
		</div>

	</div>
	< </section>


<h1>Best of Weaving</h1>
<section>
	<div class="product-container">
		{% for products in weavingProducts[:6] %}

		<div class="product">
			<img src="{{products.Image}}" alt="Wireless Earbuds">
			<h3>{{products.Name}}</h3>
			<p class="price">From ₹{{products.Price}}</p>
			<!--<p class="rating">⭐ 4.5/5</p>-->
			<p class="dimension">Dimensions: {{products.Length}}x{{products.Width}}x{{products.Height}} cm</p>
			<a href = "{{url_for('buy', category = "weaving", id = products.id)}}"><button class="buyButton" type="submit" >Buy Now</button> </a>
		</div>

		{% endfor %}
	</div>
	< </section>


<h1>Best of Pottery</h1>
<section>
	<div class="product-container">
		{% for products in potteryProducts[:6] %}

		<div class="product">
			<img src="{{products.Image}}" alt="Wireless Earbuds">
			<h3>{{products.Name}}</h3>
			<p class="price">From ₹{{products.Price}}</p>
			<!--<p class="rating">⭐ 4.5/5</p>-->
			<p class="dimension">Dimensions: {{products.Length}}x{{products.Width}}x{{products.Height}} cm</p>
			<a href = "{{url_for('buy', category = "pottery", id = products.id)}}"><button class="buyButton" type="submit" >Buy Now</button> </a>

		</div>

		{% endfor %}
	</div>
	< </section>



<h1>Best of Carpentry</h1>
<section>
	<div class="product-container">
		{% for products in carpentryProducts[:6] %}

		<div class="product">
			<img src="{{products.Image}}" alt="Wireless Earbuds">
			<h3>{{products.Name}}</h3>
			<p class="price">From ₹{{products.Price}}</p>
			<!--<p class="rating">⭐ 4.5/5</p>-->
			<p class="dimension">Dimensions: {{products.Length}}x{{products.Width}}x{{products.Height}} cm</p>
			<a href = "{{url_for('buy', category = "carpentry", id = products.id)}}"><button class="buyButton" type="submit" >Buy Now</button> </a>
		</div>

		{% endfor %}
	</div>
	< </section>




<h1>Best of Metal-Works</h1>
<section>
	<div class="product-container">
		{% for products in blacksmithProducts[:6] %}

		<div class="product">
			<img src="{{products.Image}}" alt="Wireless Earbuds">
			<h3>{{products.Name}}</h3>
			<p class="price">From ₹{{products.Price}}</p>
			<!--<p class="rating">⭐ 4.5/5</p>-->
			<p class="dimension">Dimensions: {{products.Length}}x{{products.Width}}x{{products.Height}} cm</p>
			<a href = "{{url_for('buy', category = "blacksmith", id = products.id)}}"><button class="buyButton" type="submit" >Buy Now</button> </a>
		</div>

		{% endfor %}
	</div>
	< </section>



<h1>Best of Sculpture</h1>
<section>
	<div class="product-container">
		{% for products in sculptureProducts[:6] %}

		<div class="product">
			<img src="{{products.Image}}" alt="Wireless Earbuds">
			<h3>{{products.Name}}</h3>
			<p class="price">From ₹{{products.Price}}</p>
			<!--<p class="rating">⭐ 4.5/5</p>-->
			<p class="dimension">Dimensions: {{products.Length}}x{{products.Width}}x{{products.Height}} cm</p>
			<a href = "{{url_for('buy', category = "sculpture", id = products.id)}}"><button class="buyButton" type="submit" >Buy Now</button> </a>
		</div>

		{% endfor %}
	</div>
	< </section>




<h1>Best of Painting</h1>
<section>
	<div class="product-container">
		{% for products in paintingProducts[:6] %}

		<div class="product">
			<img src="{{products.Image}}" alt="Wireless Earbuds">
			<h3>{{products.Name}}</h3>
			<p class="price">From ₹{{products.Price}}</p>
			<!--<p class="rating">⭐ 4.5/5</p>-->
			<p class="dimension">Dimensions: {{products.Length}}x{{products.Width}}x{{products.Height}} cm</p>
			<a href = "{{url_for('buy', category = "painting", id = products.id)}}"><button class="buyButton" type="submit" >Buy Now</button> </a>
		</div>

		{% endfor %}
	</div>
	< </section>
	{% endblock content %}
